<%- include ./partials/header.ejs %>
    <div class="container-fluid">
        <div class="row">
            <div class="col-3">
                <div class="list-group" id="list-tab" role="tablist">
                <a class="list-group-item list-group-item-action active" id="profile-menu" data-toggle="list" href="#profile" role="tab">Profile</a>
                <a class="list-group-item list-group-item-action" id="upload-project-menu" data-toggle="list" href="#upload-project" role="tab">Upload Project</a>
                <a class="list-group-item list-group-item-action" id="show-project-menu" data-toggle="list" href="#show-project" role="tab">Show Project</a>
                <a class="list-group-item list-group-item-action" id="request-notif-menu" data-toggle="list" href="#request-notif" role="tab">Request</a>
                <br><br>
                <a class="list-group-item list-group-item-action" id="request-notif-menu" data-toggle="list" href="#logout" role="tab">Log Out</a>
                </div>
            </div>
            <div class="col-9">
                <div class="tab-content" id="nav-tabContent">
                <div class="tab-pane fade show active" id="profile" role="tabpanel">
                        <form>
                            <div class="form-group">
                                <label for="nama-user">Full Name</label>
                                <input type="text" class="form-control" name="nama" id="nama-user" placeholder="Enter name">
                            </div>
                            <div class="form-group">
                                <label for="username-user">Username</label>
                                <input type="text" class="form-control" name="username" id="username-user" placeholder="Enter username">
                            </div>
                            <div class="form-group">
                                <label for="password-user">Password</label>
                                <input type="password" class="form-control" name="password" id="password-user" placeholder="Enter password">
                            </div>
                            <div class="form-group">
                                <label for="role-user">Role</label>
                                <select class="form-control" name="role" id="role-user">
                                    <option>Student</option>
                                    <option>Teacher</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="major-user">Major</label>
                                <select class="form-control" name="major" id="major-user">
                                    <option>Engineering</option>
                                    <option>IT</option>
                                    <option>Medicine</option>
                                    <option>Literature</option>
                                    <option>Science</option>
                                    <option>Business</option>
                                    <option>Management</option>
                                    <option>Psychology</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="phone-user">Phone Number</label>
                                <input type="text" class="form-control" name="phone" id="phone-user" placeholder="Enter phone number">
                            </div>
                            <div class="form-group" id="degree-user">
                                <label>Degree</label>
                                <select class="form-control" name="degree" >
                                    <option>S1</option>
                                    <option>S2</option>
                                    <option>S3</option>
                                </select>
                            </div>
                            <div class="form-group" id="semester-user">
                                <label>Semester</label>
                                <input type="number" class="form-control" name="semester" placeholder="Enter semester" min="1" max="12">
                            </div>
                            <button type="submit" class="btn btn-primary">Submit</button>
                        </form>
                </div>
                <div class="tab-pane fade" id="show-project" role="tabpanel">

                  <%
                    lecturer.Projects.forEach(function(project){%>
                      <a href="/users/project/close/<%=project.id%>" class="list-group-item list-group-item-action flex-column align-items-start">
                          <div class="d-flex w-100 justify-content-between">
                              <h5 class="mb-1"><%=project.title%></h5>
                              <small><%=project.deadline%></small>
                          </div>
                          <h6 class="mb-1"> Deskripsi : <%=project.summary%></h6>
                      </a>
                      <br>
                      <%})
                  %>

                </div>
                <div class="tab-pane fade" id="upload-project" role="tabpanel">
                  <form action="/users/lecturer/add" method="post">
                      <div class="form-group">
                          <label for="title">Title</label>
                          <input type="text" class="form-control" name="title" id="nama-user" placeholder="Enter title">
                      </div>
                      <div class="form-group">
                          <label for="major-user">location</label>
                          <select class="form-control" name="location" id="major-user">
                             <option type="text" value=null>Choose location</option>
                             <option type="text" value="Jakarta">Jakarta</option>
                             <option type="text" value="Bandung">Bandung</option>
                             <option type="text" value="Surabaya">Surabaya</option>
                             <option type="text" value="Semarang">Semarang</option>
                             <option type="text" value="Lampung">Lampung</option>
                             <option type="text" value="Balik_papan">Balik Papan</option>
                             <option type="text" value="Makassar">Makassar</option>
                             <option type="text" value="Papua">Papua</option>
                          </select>
                      </div>
                      <div class="form-group">
                          <label for="major-user">Major</label>
                          <select class="form-control" name="major" id="major-user">
                            <option type="text" value=null>Choose major</option>
                            <option type="text" value="Engineering">Engineering</option>
                            <option type="text" value="Medicine">Medicine</option>
                            <option type="text" value="IT">IT</option>
                            <option type="text" value="Science">Science</option>
                            <option type="text" value="Business">Business</option>
                            <option type="text" value="Management">Management</option>
                            <option type="text" value="Literature">Literature</option>
                            <option type="text" value="Psychology">Psychology</option>
                          </select>
                      </div>
                      <div class="form-group" id="degree-user">
                          <label>level</label>
                          <select class="form-control" name="level" >
                            <option type="text" value="Beginner">Beginner</option>
                            <option type="text" value="Advanced">Advanced</option>
                            <option type="text" value="Senior">Senior</option>
                            <option type="text" value="Master">Master</option>
                          </select>
                      </div>
                      <div class="form-group" id="semester-user">
                          <label>Semester</label>
                          <input type="number" class="form-control" name="semester" placeholder="Enter semester" min="1" max="12">
                      </div>
                      <div class="form-group" id="semester-user">
                          <label>Max Member</label>
                          <input type="number" class="form-control" name="max_member" placeholder="Enter max member" min="1">
                      </div>
                      <div class="form-group">
                          <label for="deadline">Deadline</label>
                          <input type="date" class="form-control" name="deadline" placeholder="Enter deadline date">
                      </div>
                      <div class="form-group" id="degree-user">
                          <label>Tag</label>
                          <select class="form-control" name="tag" >
                            <option type="text" value=null>Select an option</option>
                            <%
                              tags.forEach(function(tag){%>
                                <option type="text" name= "tag" value=<%= tag.name%>><%= tag.name%></option>
                                <%})
                            %>
                          </select>
                      </div>
                      <div class="form-group">
                          <label for="title">Summary</label>
                          <textarea type="text-area" class="form-control" style="overflow:auto;resize:none" rows="5" name="summary" id="text-area" placeholder="Enter description"></textarea>
                      </div>
                      <button type="submit" class="btn btn-primary">Submit</button>
                    </form>
                </div>
                <div class="tab-pane fade" id="request-notif" role="tabpanel">
                        <div class="list-group">
                            <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                                <div class="d-flex w-100 justify-content-between">
                                    <h5 class="mb-1">List group item heading</h5>
                                    <small>3 days ago</small>
                                </div>
                                <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
                                <small>Donec id elit non mi porta.</small>
                            </a>
                            <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                                <div class="d-flex w-100 justify-content-between">
                                    <h5 class="mb-1">List group item heading</h5>
                                    <small class="text-muted">3 days ago</small>
                                </div>
                                <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
                                <small class="text-muted">Donec id elit non mi porta.</small>
                            </a>
                            <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                                <div class="d-flex w-100 justify-content-between">
                                    <h5 class="mb-1">List group item heading</h5>
                                <small class="text-muted">3 days ago</small>
                                </div>
                                <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
                                <small class="text-muted">Donec id elit non mi porta.</small>
                            </a>
                            <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                                <div class="d-flex w-100 justify-content-between">
                                    <h5 class="mb-1">List group item heading</h5>
                                <small class="text-muted">3 days ago</small>
                                </div>
                                <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
                                <small class="text-muted">Donec id elit non mi porta.</small>
                            </a>
                            <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
                                <div class="d-flex w-100 justify-content-between">
                                    <h5 class="mb-1">List group item heading</h5>
                                <small class="text-muted">3 days ago</small>
                                </div>
                                <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
                                <small class="text-muted">Donec id elit non mi porta.</small>
                            </a>
                        </div>
                </div>
                <div class="tab-pane fade" id="logout" role="tabpanel">

                  <br><br>

                  <h1>Are you sure want to logout?</h1>
                  <br>
                  <a href="/logout"><button type="button" class="btn btn-primary">YES!!!</button></a>



                </div>

            </div>
        </div>
    </div>
<%- include ./partials/footer.ejs %>
